/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: left; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; border:0; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul, .slicknav_nav li { display: block; }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu, #mobile_search { *zoom: 1; }
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu { font-size:16px; }
/* Button */
.slicknav_btn { margin: 5px 5px 6px; text-decoration:none; background-color: transparent; }
/* Button Text */
.slicknav_menu  .slicknav_menutxt { color: #FFF; font-weight: bold; }
/* Button Lines */
.slicknav_menu .slicknav_icon-bar { background-color: #f5f5f5; }
.slicknav_menu { height:3em; } /* bar that hamburger menu sits in */
.slicknav_nav { color:#fff; margin:0; padding:0; font-size:0.875em; }
.slicknav_nav, .slicknav_nav ul { list-style: none; } /* drop down - children */
.slicknav_nav ul { padding:0; margin:0 0 0 20px; } /* drop list */
.slicknav_nav .slicknav_row { padding:1em 1em; margin:2px 5px; } /* parent items only */
.slicknav_nav a { 
	padding:1em; margin:2px 5px; text-decoration:none; color:#fff; border-top:1px solid #00264D; outline:0 ! important;
	width:90%;
} /* all links */
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a { 
	padding:0; margin:0; border:0 ! important; outline:0 ! important;
}
.slicknav_nav .slicknav_row:hover, .slicknav_nav .slicknav_item a:hover, .slicknav_nav .slicknav_parent-link a:hover { color:#ffcc33; }
.slicknav_nav a:hover, .slicknav_nav a:active { color:#eeb211; }
.slicknav_nav .slicknav_txtnode { margin-left:15px; }
.slicknav_menu ul { z-index:999; background-color:#003366; position:relative; width:173%; margin:0; padding:0; left:0;top:5px; }
.slicknav_menu ul ul { top:0; width:90%; }
.slicknav_menu li.subtitle { color:#ffcc33; }



/* CBD Slicknav add-on */
.cbd_slicknav_btn { position: relative; display: block; vertical-align: middle; float: left; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; border:0; }
.cbd_slicknav_menu .cbd_slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.cbd_slicknav_menu .cbd_slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.cbd_slicknav_menu .cbd_slicknav_no-text { margin: 0 }
.cbd_slicknav_menu .cbd_slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; }
.cbd_slicknav_btn .cbd_slicknav_icon-bar + .cbd_slicknav_icon-bar { margin-top: 0.188em }
.cbd_slicknav_nav { clear: both }
.cbd_slicknav_nav ul, .cbd_slicknav_nav li { display: block; }
.cbd_slicknav_nav .cbd_slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.cbd_slicknav_nav .cbd_slicknav_item { cursor: pointer; }
.cbd_slicknav_nav .cbd_slicknav_row { display: block; }
.cbd_slicknav_nav a { display: block }
.cbd_slicknav_nav .cbd_slicknav_item a,
.cbd_slicknav_nav .cbd_slicknav_parent-link a { display: inline }
.cbd_slicknav_menu:before,
.cbd_slicknav_menu:after { content: " "; display: table; }
.cbd_slicknav_menu:after { clear: both }
/* IE6/7 support */
.cbd_slicknav_menu, #mobile_search { *zoom: 1; }
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.cbd_slicknav_menu { font-size:16px; }
/* Button */
.cbd_slicknav_btn { margin: 5px 5px 6px; text-decoration:none; background-color: transparent; }
/* Button Text */
.cbd_slicknav_menu  .cbd_slicknav_menutxt { color: #003366; font-weight: bold; }
/* Button Lines */
.cbd_slicknav_menu .cbd_slicknav_icon-bar { background-color: #003366; }
.cbd_slicknav_menu { height:3em; } /* bar that hamburger menu sits in */
.cbd_slicknav_nav { color:#ffffff; top:8px ! important; margin:0; padding:0; font-size:0.875em; background-color:#444444; }
.cbd_slicknav_nav, .cbd_slicknav_nav ul { list-style: none; } /* drop down - children */
ul.cbd_slicknav_nav { background-color:#444444 ! important; } /* drop list */
.cbd_slicknav_nav .cbd_slicknav_row { padding:1em 1em; margin:2px 5px; } /* parent items only */
.cbd_slicknav_nav a { 
	padding:1em; margin:2px 5px; text-decoration:none; color:#ffffff; border-top:1px solid #3b3b3b; outline:0 ! important;
	width:90%;
} /* all links */
.cbd_slicknav_nav .cbd_slicknav_item a, .cbd_slicknav_nav .cbd_slicknav_parent-link a { 
	padding:0; margin:0; border:0 ! important; outline:0 ! important;
}
.cbd_slicknav_nav .cbd_slicknav_row:hover, .cbd_slicknav_nav .cbd_slicknav_item a:hover, .cbd_slicknav_nav .cbd_slicknav_parent-link a:hover { color:#eeb211; }
.cbd_slicknav_nav a:hover, .cbd_slicknav_nav a:active { color:#eeb211; }
.cbd_slicknav_nav .cbd_slicknav_txtnode { margin-left:15px; }
.cbd_slicknav_menu ul { z-index:999; background-color:#444444; position:relative; width:173%; margin:0; padding:0; left:0;top:5px; }
.cbd_slicknav_menu ul ul { top:0; width:90%; }
.cbd_slicknav_menu li.subtitle { color:#eeb211; }
div#mobile_hack2 { background-color:#eeb211; }


